<!DOCTYPE html>
<html>
<body>

<button type="submit" onclick="switchToList()">List</button>
<br><br>

CURRENT_DIARY_TEXT

<form id="diary_edit_form">
  <input type="button" name="edit" value="Edit" onclick="switchToEditor()">
</form>

<script language="JavaScript" type="text/javascript">
    function switchToEditor() {
        let url = '../api/edit?date=DIARY_DATE';
        location.replace(url);
    }
    function switchToList() {
        location.replace('../api/list?limit=10');
    }
</script>

</body>
</html>
