<!DOCTYPE html>
<html>
<body>

<form>
    <input type="button" name="sync_button" value="Sync" onclick="syncDiary();"/>
    <input type="text" name="search_text" id="search_text"/>
    <input type="button" name="search_button" value="Submit" onclick="searchDiary();"/>
</form>

LIST_TEXT

<br>

NAVIGATION_BUTTONS

<script language="JavaScript" type="text/javascript">
    function switchToDate( date ) {
        var url = '../api/display?date=' + date;
        location.replace(url);
    }
    function listConflicts( date ) {
        var url = '../api/list_conflicts?date=' + date;
        location.replace(url);
    }
    function showConflict( datetime ) {
        var url = '../api/show_conflict?datetime=' + datetime;
        location.replace(url);
    }
    function removeConflict( datetime ) {
        var url = '../api/remove_conflict?datetime=' + datetime;
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open('GET', url, true);
        xmlhttp.onload = function see_result() {
            location.reload();
        }
        xmlhttp.send(null);
    }
    function searchDiary() {
        var text_form = document.getElementById( 'search_text' );
        var url = encodeURI('../api/search?text=' + text_form.value);
        location.replace(url);
    }
    function syncDiary() {
        location.replace('../api/sync');
    }
    function gotoEntries( start ) {
        var url = '../api/list';
        if (start > 0) {
            url = url + '?start=' + start + '&limit=10';
        } else {
            url = url + '?limit=10';
        }
        location.replace(url);
    }
    function switchToList() {
        location.replace('../api/list?limit=10');
    }
</script>

</body>
</html>
